.container {
    color: #e8e6e3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.weaponDiv{
    /* width:800px; hard coded width for now */
}

/* .infoDiv {
    display: flex;
}
.infoDiv > div {
    flex: 1; 
} */
.skinItems{
    color: rgba(251,109,95);
    list-style-type: none;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.listItems{
    color: rgba(251,109,95);
    list-style-type: none;
    font-size: 20px;
}
.weaponImage{
    width: max-content;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
/* Skins Div*/
.skinImage{
    max-width: 350px;
   
    height: 100px;
    display: block;
    

}
.skinImageDiv{
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;

    width: fit-content;
}

.arrowButton{
    height: 25%;
    cursor: pointer;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 4px 4px 0
}