.container {
    color: #e8e6e3;
    display: flex;
    /* flex-direction: column; */
}
.weaponDiv{
    width:800px; /* hard coded width for now */
}

/* .infoDiv {
    display: flex;
}
.infoDiv > div {
    flex: 1; 
} */

.listItems{
    color: rgba(251,109,95);
    list-style-type: none;
    font-size: 20px;
}
.weaponImage{
    width: max-content;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
/* Skins Div*/
.skinImage{
    width: max-content;
    max-width: 500px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.arrowButton{
    cursor: pointer;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 4px 4px 0
}