.leaderboardList {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* leaderboardToolbar is a ListGroup with attribute 'horizontal' */
.leaderboardToolbar {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.searchInput {
    width: 20rem;
}

.leaderboardTitleRow {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.leaderboardPlayerRow {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
}