.weaponHeading{
    color: white;
}
/* CSS for the main Weapons cards */
.weaponCard{
    width: 24rem; 
    background:#181a1b;
    display: inline-block;
    border: 1px solid dimgray;
    padding: 5px;
    /* height: 300px;
    width: 300px; */
    /* max-width: 400px;
    max-height: 300px; */
}
.weaponCard:hover{
    border: 1px solid goldenrod;
}

.weaponImage{
    float: center; 
    /* height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px; */
}