.center{
    display: flex ;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    

}

.center div{
    margin-top: 25%;
    color: white;
    
}


.title{
    font-size: 130px;
}

.subtitle{
    font-size: 90px;
}